/* mobile 480px */
.features-list__item {
  width: 100%;
}

.features-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;

  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  @include font($fw: 700, $lh: 16px);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-list__title {
    text-align: center;
  }
}

/* tablet 768px */
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
}

/*  desktop 1200px */
@media screen and (min-width: 1200px) {
  .section-features {
    padding-bottom: 0;
  }
  .features-list {
    display: flex;
  }
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
}
