/* mobile 480px */
.section-hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
}

.section-hero__title {
  margin: 0 auto 30px;
  max-width: 360px;

  @include font(900, 26px, 42px, 0.06em);
  text-transform: uppercase;
  color: var(--white-color);
}

.section-hero__button {
  padding: 10px 24px;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
  }
}

.overlay {
  width: 100%;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/overlay-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/overlay-mobile@2x.jpg');
  }
}

/* tablet 768px */
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/overlay-tablet.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/overlay-tablet@2x.jpg');
  }
}

/* desktop 1200px */
@media screen and (min-width: 1200px) {
  .section-hero__button {
    padding: 10px 32px;
  }
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .section-hero__title {
    max-width: 696px;

    @include font(900, 44px, 60px, 0.06em);
  }
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/overlay-desktop.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/overlay-desktop@2x.jpg');
  }
}
