.portfolio-filter {
  margin-bottom: 50px;
  @extend %align;
}
.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__button {
  padding: 6px 22px;
  @include font($fw: 500, $lh: 26px);
  color: var(--secondary-text-color);

  background-color: var(--secondary-background-color);

  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card__link:hover,
.portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card-overlay__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  @include font($fs: 18px, $lh: 28px);
  color: var(--white-color);

  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.portfolio-card__link:hover .portfolio-card-overlay__thumb,
.portfolio-card__link:focus .portfolio-card-overlay__thumb {
  transform: translateY(0);
}

.portfolio-card-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-card__title {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  @include font($fw: 700, $fs: 18px, $lh: 36px, $ls: 0.06em);
}
.portfolio-card__text {
  color: var(--primary-text-color);
  @include font($fs: 16px, $lh: 30px);
}
