.section-team {
  background-color: var(--secondary-background-color);
}

.team-card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-color);
}
.team-box {
  display: flex;
}

.team-card {
  flex-basis: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  @include font($fw: 500, $fs: 16px, $lh: 19px);
}
.team-card__label {
  margin-bottom: 16px;
  @include font($fs: 16px, $lh: 19px);
}

.team-socials {
  @extend %align;
}
.team-socials__item:not(:last-child) {
  margin-right: 10px;
}

.team-socials__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  @extend %align;
  fill: var(--icon-background-color);
  background-color: var(--white-color);

  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }
}
