.menu__link_current::after {
  display: flex;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -29px;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
}
.menu .menu__link_current {
  color: var(--accent-color);
}
